/**
 * Artwork
 */
.single.artwork {
    display: flex;
}

.single.artwork .info {
    width: 600px;
    border-left: 1px solid #eee;
    padding: 20px 50px;
}

.single.artwork .attachment-container {
    width: calc(100% - 300px);
}

.attachment-container .attachment {
    height: 80%;
}

.single.artwork .attachment {
    margin: auto;
}

.single.artwork .title {
    margin-bottom: 3px;
    margin-top: 20px;
}

.single.artwork .medium {
    margin-top: 0px;
}

.attachment-container {
    height: 500px;
    display: flex;
}

img.attachment {
    margin: auto;
    height: inherit;
    position: relative;
}


/* Actions */
.actions {
    display: flex;
    width: 100px !important;
}

.actions button, .actions a {
    background: none;
    /* display: flex; */
    align-items: center;
    color: #333;
    font-size: 12px !important;
    font-weight: normal;
    margin: 0;
    padding-top: 12px !important;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 0;
    border-color: #888;
}

.actions button:hover, .actions a:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}


.actions #like {
    background-image: url("/images/like.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    padding: 20px;
}

.actions :first-child {
    border-right: 0;
    /* width: 200px; */
    /* height: 200px; */
}


h2.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
