/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "//cdn.rawgit.com/necolas/normalize.css/master/normalize.css";
@import "/stylesheets/milligram.css";

/**
 * Variables
 */
$accent: #880000;
$text-color: #333;

/**
 * Global
 */

* {
    font-family: NeuzeitGroTOT !important;
    color: $text-color;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 50px 25px;
}

.container {
}

main {

}

form {
    padding-top: 50px;
}

/**
 * Nav
 */
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    align-items: center;
    padding: 5px;

    .logo {
        font-weight: bold;
        font-size: 2rem;
    }

    .topic {
        margin-right: auto;
        padding-left: 10px;
    }

    :last-child {
        padding-right: 0;
    }

    a {
        color: $text-color !important;
        margin-bottom: 0 !important;

        &:not(:hover) {
            border: 1px solid rgba(0,0,0,0);
        }
    }
}


/**
 * Grid
 */
.art-grid {
    display: flex;
    flex-wrap: wrap;
}

.artwork {
    width: 25%;
    height: 200px;
    background: grey;

    &:nth-child(1), &:nth-child(2) {
        width: 50%;
    }
}
